
<html>
     <head>
         <title>Django Girls blog</title>
     </head>
     <body>
         <div>
             <h1><a href="">Django Girls Blog</a></h1>
		    </div>

      {% for post in posts %}
        <div>
            <p>published: 03.10.2017, 20:43</p>
            <h2><a href="">My first post</a></h2>
            <p>He tenido varios problemas hasta llegar a escribir este post.</p>
        </div>

        <div>
            <p>published: 03.10.2017, 20:45</p>
            <h2><a href="">My second post</a></h2>
            <p>Ahora ya he solucionado mi problema y voy ha seguir configurando mi blog.</p>
        </div>
      {% endfor %}
    </body>
</html>
